<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRMSuite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="com.orangehrm.listeners.TestListener" />
	</listeners>

	<!-- Chrome Execution -->
	<test name="OrangeHRMTest_Chrome">

		<parameter name="browser" value="chrome" />

		<classes>
			<class name="com.orangehrm.test.DummyClass" />
			<class name="com.orangehrm.test.DummyClass2" />
			<class name="com.orangehrm.test.HomePageTest" />
		</classes>

	</test>

	<!-- Firefox Execution -->
	<test name="OrangeHRMTest_Firefox">

		<parameter name="browser" value="firefox" />

		<classes>
			<class name="com.orangehrm.test.LoginPageTest" />
			<class name="com.orangehrm.test.ApiTest" />
			<class name="com.orangehrm.test.DBVerificationTest" />
		</classes>

	</test>

</suite>